<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="barraSuperior">
    <ion-avatar slot="end">
      <img src="../../../assets/logoTa.png"/>
  </ion-avatar>
    <ion-title mode="md" class="ion-no-padding" color="tertiary">
        <ion-label>
          <ion-text>Bem vindo</ion-text>
          <p><ion-text><strong>{{nomeCliente}}</strong></ion-text></p>
        </ion-label>
    </ion-title>
  </ion-toolbar>
  <ion-card class="cardInfo">
    <ion-card-content> Vamos ver seus agendamentos </ion-card-content>
  </ion-card>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let horario of FormHorariosMarcados; let index">
      <ion-label>{{ horario.nomeBarbeiro }}</ion-label>
      <ion-fab-button>{{ horario.valor | currency : 'BRL'}}</ion-fab-button>
      <ion-label>{{ horario.data}} | {{horario.hora}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
