div{
  display: flex;
  align-items: flex-start;
}
.title-div{
  align-items: center;
    margin-left: 35%;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin-top: 2%;
  margin-bottom: 2%;
}
.addButton{
  margin-left: 0%;
  margin-right: 8%;
}
.action-buttons  {
  display: block;
  
}
button{
  margin-right: 1%;
}

.color-line-pendente {
  background-color: #494b4d
}



mat-form-field, mat-label, input, mat-datepicker-toggle, mat-datepicker{
  color: aliceblue;
}


.table{
  background-color: black;
}
  .mat-mdc-row .mat-mdc-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      cursor: pointer;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
      border-color: currentColor;
  }
  
td,th{
  text-align: center;
  color: aliceblue;
  font-size: large;
}
.servicos{
  display: flex;
  justify-content: center;
}
p{
  margin-right: 2%;
}
.actions{
  width: 10%;

}

.danger{
  background-color: red;
}

button{
  margin-left: 10%;
}