.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.titulo {
    color: aliceblue;
    font-size: 2rem;
    margin: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 1rem;

    .registrar {
        box-shadow: 2px 4px 10px #29272762, 0px 3px 2px #5a575770, 0px 3px 2px #5856566b;
    }
}