<form class="conteiner" [formGroup]="formulario">

  <div class="header">
    <button mat-mini-fab color="primary" (click)="navegarPara()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="titulo">REGISTRE-SE</h1>
    
  </div>
  <div class="content">
  <div class="formulario">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Escreva seu nome" formControlName="nome">
      <mat-icon matSuffix>view_timeline</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Escreva seu e-mail" formControlName="email">
      <mat-icon matSuffix>markunread</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Escreva sua senha" formControlName="senha">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sobre</mat-label>
      <textarea style="height: 5rem;" matInput formControlName="sobre"></textarea>
    </mat-form-field>
  </div>

  <div class="serviceList">
    <h1>SERVIÇOS</h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="servico">
      <mat-slide-toggle *ngFor="let servico of servicos" color="primary"
        (change)="atualizaListaServicos(servico, $event)"><label style="color: aliceblue;">{{servico.nome}}</label></mat-slide-toggle>
    </div>
  </div>
  <button class="addButton" mat-raised-button color="primary" (click)="salvar()" routerLink="">
    <mat-icon>save</mat-icon> Salvar
  </button>
</div>
  <div class="buttons">

  </div>
</form>