
<ion-content class="ion-padding">
  <div class="flex">
    <div class="img-flex">
      <img src="./../../../assets/logoTo.png"/>
    </div>
    <div>


      <ion-item fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-button class="btn-login">LOGIN</ion-button>
    </div>

    <div class="footer">
      Não possui conta? <span routerLink="/signup">REGISTRAR-SE</span>
    </div>
  </div>
</ion-content>
