
p{
    margin-top: 20px;
}

.formulario{
    margin-left: 40%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    max-width: 400px;

}

