<div class="title-div">
  <button mat-mini-fab color="primary" routerLink="/usuario/read">
    <mat-icon>arrow_back</mat-icon>
  </button>
  Editar Usuario
</div>

<div class="content" >


  <mat-card class="formulario">
    <p id="texto">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Escreva seu nome">
          <mat-icon matSuffix>view_timeline</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Escreva seu e-mail">
          <mat-icon matSuffix>markunread</mat-icon>
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Senha </mat-label>
          <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Escreva sua senha">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sobre</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      </p>

      
    
</mat-card>
<mat-card class="listaServicos">
  <h1 style="margin-bottom: inherit;">SERVIÇOS</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <p class="servico" *ngFor="let servico of servicos">
  <mat-slide-toggle color="primary" (change)="toggle($event); atualizaLista(servico)"></mat-slide-toggle>{{servico.nome}}
  </p>
</mat-card>
</div>

<div class="save-button">
  <button class="addButton" mat-raised-button color="primary" (click)="salvar()" routerLink="/usuario/read">
    <mat-icon>save</mat-icon> Salvar
  </button>
</div>