div{
  display: flex;
  align-items: flex-start;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 100%;
  gap: 2rem;
}

.title-div{
 margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
}

.calendar{
  display: flex;
  flex-direction:row;
  align-items: baseline;
  
}

.addButton{
  margin-left: 0%;
  margin-right: 8%;
}
.action-buttons  {
  display: block;
  
}
button{
  margin-right: 1%;
}

mat-form-field, mat-label, input, mat-datepicker-toggle, mat-datepicker{
  color: aliceblue;
}


.table{
  background-color: black;
}
  .mat-mdc-row .mat-mdc-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      cursor: pointer;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
      border-color: currentColor;
  }
  
td,th{
  text-align: center;
  color: aliceblue;
  font-size: large;
}
.servicos{
  display: flex;
  justify-content: center;
}
p{
  margin-right: 2%;
}

.danger{
  background-color: red;
}

button{
  margin-left: 10%;
}